html{
  scroll-behavior: smooth;
}

body {
  padding-top: 0px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 4px 2px 0 rgba(0, 0, 0, 0.4);
}

.text-brown {
  color: #402F25;
}

.text-title {
  color: #8C593B;
}

.bg-brown {
  background-color: #74481A;
}

ul > li > a, .text-footer {
  color: #F2DFBB;
}

.text-carousel {
  font: italic 3rem Verdana, arial, helvetica, sans-serif;
  color: #D8D067;
}

ul > li > a:hover {
  color: #F2DFBB;
  text-decoration: none;
}

#beneficios p {
  line-height: 2em;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  .fixed-top {
    position: relative;
  }
  h3.display-4 {
    color: #D8D067;
  }
}